*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: black;
}

#imagen_menu_bar{
    width: 40px; 
    height: 50px;
    margin: 10px 0px 0px 5px;
}

#imagen_logo{
    width: 100px; 
    height: 50px;
    margin: 10px 10px 0px 5px;
}
#busqueda_1{
    background-color: rgba(128, 128, 128, 0.312); 
    width: 350px; 
    height: 50px;
    position: relative; 
    left: 15px;
    top: -10px;    
    padding: 10px 0px 10px 15px; 
    margin-bottom: 10px;
    border-radius:40px; 
    border: 1px solid white; 
    font-size: 17px; 
    font-family: Arial, Helvetica, sans-serif;
    
}